<div class="flex flex-col justify-self-center" id="weatherData">
    <h1>City: <%= cityName %>
    </h1>
    <div>Condition: <%= weatherToday %>
    </div>
    <div>Temperature: <%=weatherTemp%> °C</div>
    <div> <img src="https://openweathermap.org/img/wn/<%= weatherIcon %>@2x.png"> </div>
</div>