<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="login_signup_style.css">
    <title>Get GUD</title>
</head>
<body class="m-0 p-0 font-sans bg-cover bg-center h-screen">
    <div class="login-box max-w-sm w-11/12 sm:w-64 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white broken-border p-6 bg-black bg-opacity-50 rounded-lg">
        <span></span>
        <h1 class="mb-12 py-3 text-4xl text-center"><span class="border-b-4 border-gray-500">Login</span></h1>
        <form method="post" action="/loggingin">
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-gray-500 relative">
                <img src="user.png" alt="Email Icon" class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="username" class="sr-only">Username:</label>
                <input type="username" id="username" name="username" placeholder="Username *" pattern="[A-Za-z0-9]+" title="Only letters and numbers are allowed" required
                class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full" maxlength="20">
            </div>
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-gray-500 relative">
                <img src="password.png" alt="Password Icon" class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="password" class="sr-only">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password *" required
                class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full" maxlength="20">
            </div>
            <a href="/password_recovery" class="text-center text-gray-400 text-lg underline">Forgot Password?</a>
            <input class="btn w-full bg-transparent border-2 border-gray-500 text-white py-1 text-lg cursor-pointer my-3" type="submit" value="Sign in">
        </form>
    </div>
</body>
</html>
