<%- include("templates/header.ejs") %>

    <h1>Log in to an existing account</h1>
    <form action="/loggingin" method="post">
    <input type="text" name="username" placeholder="username"/><br>
    <input type="password" name="password" placeholder='password'/><br>
    <input type="submit"/>
    </form>

<%- include("templates/footer.ejs") %>