<%- include("templates/header.ejs") %>
    <h1>Enter your username</h1>
    <form action="/security_question" method="post">
    <input type="text" name="username" placeholder="username"/>
    <input type="submit"/>
    </form>
<%- include("templates/footer.ejs") %>