<%- include("templates/header.ejs") %>

    <h1>Password recovery for <%= username %></h1>
    <form action="/password_reset" method="post">
    <label for="securityAnswer"><%= securityQuestion %></label>
    <input type="password" name="securityAnswer" placeholder="security answer"/>
    <input type="password" name="newPassword" placeholder='new password'/>
    <input type="submit"/>
    </form>
<%- include("templates/footer.ejs") %>