<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="login_signup_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <title>Get GUD</title>
    <style>
        .audiowide {
            font-family: 'Audiowide', cursive;
        }
    </style>
</head>

<body class="m-0 p-0 font-sans bg-cover bg-center h-screen">
    <div
        class="login-box max-w-sm w-11/12 sm:w-64 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white broken-border p-6 bg-black bg-opacity-50 rounded-lg audiowide">
        <span></span>
        <h1 class="mb-5 py-3 text-5xl text-center"><span class="text-[#f5b700]">Sign Up</span></h1>
        <form method="post" action="/submitUser">
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="user.png" alt="User Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="username" class="sr-only">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username *" pattern="[A-Za-z0-9]+"
                    title="Only letters and numbers are allowed" required
                    class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full" maxlength="20">
            </div>
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="email.png" alt="Email Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="email" class="sr-only">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email *" required
                    class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full" maxlength="40">
            </div>
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="password.png" alt="Password Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="password" class="sr-only">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password *" required
                    class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full" maxlength="20">
            </div>
            <div class="textbox w-full text-ellipsis text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="security.png" alt="Security Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="securityQuestion" class="sr-only">Security Question:</label>
                <select id="securityQuestion" name="securityQuestion"
                    class="text-ellipsis border-none outline-none bg-transparent text-gray-400 text-base pl-10 w-full"
                    required>
                    <option value="" disabled selected>-Select an Option-</option>
                    <option value="In what city were you born?">In what city were you born?
                    </option>
                    <option value="What is the name of your favourite pet?">What is the name of
                        your favourite pet?
                    </option>
                    <option value="What is your mother's maiden name?">What is your mother's
                        maiden name?</option>
                    <option value="What was the name of your first childhood friend?">What was the
                        name of your first
                        childhood friend?</option>
                </select>
            </div>
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="answer.png" alt="Answer Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="securityAnswer" class="sr-only">Security Answer:</label>
                <input type="text" id="securityAnswer" name="securityAnswer" placeholder="Security Answer *"
                    pattern="[A-Za-z0-9]+" title="Only letters and numbers are allowed" required
                    class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full" maxlength="20">
            </div>
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="riot.png" alt="Riot Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="RiotUsername" class="sr-only">Riot Username:</label>
                <input type="text" id="RiotUsername" name="RiotUsername" placeholder="Riot Username"
                    class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full" minlength="3"
                    maxlength="16" pattern="[A-Za-z0-9]+" title="Only letters and numbers are allowed">
            </div>
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="riot.png" alt="ID Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="RiotID" class="sr-only">Riot ID:</label>
                <input type="text" id="RiotID" name="RiotID" placeholder="Riot ID"
                    class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full" minlength="3"
                    maxlength="5" pattern="[A-Za-z0-9]+" title="Only letters and numbers are allowed">
            </div>
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="city.png" alt="City Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="city" class="sr-only">Current City:</label>
                <input type="text" id="city" name="city" placeholder="Current City"
                    class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full">
            </div>
            <div class="textbox w-full overflow-hidden text-lg py-2 my-2 border-b border-[#f5b700] relative">
                <img src="city.png" alt="City Icon"
                    class="absolute left-0 top-1/2 transform -translate-y-1/2 ml-2 w-6 h-6">
                <label for="city" class="sr-only">Current City:</label>
                <input type="text" id="city" name="city" placeholder="Current City"
                    class="border-none outline-none bg-transparent text-white text-lg pl-10 w-full">
            </div>

            <input
                class="btn w-full bg-transparent border-2 border-[#f5b700] text-white py-1 text-lg cursor-pointer my-3"
                type="submit" value="Sign Up">
        </form>
    </div>
</body>

</html>