#level-up-contents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.level-user-name {
    display: flex;
    gap: 4px;
}

#level-up-gif {
    width: 200px;
    height: auto;
}

