#profile-background {
    padding-bottom: 120px;
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/backgrounds/profile_background2.jpg");
    width: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}