
/* Color scheme */
:root {
    --red: #f71735;
    --black: #100b00;
    --green: #62c370;
    --pink: #f7e1d7;
    --yellow: #f5b700;
}


/* Minimal CSS Reset */
html {
    min-height: 100%;
    min-width: 100vw;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Audiowide", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    /* Adjustment for fixed footer */
    /* padding-bottom: 100px; */
    /* color: white;
    background-color: var(--black); */
}

a {
    text-decoration: none;
    color: #3b82f6;
}

input {
    /* color: white;
    background-color: gray;
    border: solid white 2px; */
}