<!-- Styling for these classes done in separate css file -->
<div class="achievements-container">
    <!-- tasks is passed into the ejs template -->
    <% for(let i = 0; i < achievements.length; i++) {%>
        
        <%- include("achievement.ejs", {
            image: achievements[i].image, 
            title: achievements[i].title, 
            description: achievements[i].description
        }) %>

    <% } %>
</div>