<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <audio id="gameAudio" src="./footer-icons/LOL.mp3" preload="auto"></audio>
    <footer class="fixed bottom-0 w-full bg-gray-500 p-2">
        <div id="links-container" class="flex justify-evenly items-center">
            <div class="flex flex-col items-center">
                <a href="#" onclick="playAudio()"><img src="https://brand.riotgames.com/static/a91000434ed683358004b85c95d43ce0/8a20a/lol-logo.png" class="h-auto w-10"></a>
                <p>Game</p>
            </div>
            <div class="flex flex-col items-center">
                <a href="/diet"><img src="./footer-icons/fork-and-spoon.svg" class="h-auto w-10"></a>
                <p>Diet</p>
            </div>
            <div class="flex flex-col items-center">
                <a href="/"><img src="./footer-icons/home.svg" class="h-auto w-10"></a>
                <p>Home</p>
            </div>
            <div class="flex flex-col items-center">
                <a href="/fitness"><img src="./footer-icons/walk-directions.svg" class="h-auto w-10"></a>
                <p>Fitness</p>
            </div>
            <div class="flex flex-col items-center">
                <a href="friends"><img src="./footer-icons/group.svg" class="h-auto w-10"></a>
                <p>Friends</p>
            </div>
        </div>
    </footer>
</body>
<script>
    function playAudio() {
        document.getElementById('gameAudio').play();
    }
    </script>
</html>