<%- include("nav_footer.ejs") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="client-side-scripts/stats.js"></script>
<script src=./client-side-scripts/event_listeners.js></script>
<script src=./client-side-scripts/button_functions.js></script>
</body>
</html