<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get GUD</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tooltip.css">
    <link rel="stylesheet" href="css/achievements.css">
    <link rel="stylesheet" href="css/progress_bar.css">
    <link rel="stylesheet" href="css/home_page.css">
    <link rel="stylesheet" href="css/level_up.css">
    <link rel="stylesheet" href="css/profile.css">
    <!--Tailwind CSS Library-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google Icons (Material Design) -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- favicon title logo -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- apex charts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Google fonts (Audiowide) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head> 

<body>