<nav class="border-gray-200 bg-gray-500 w-screen z-50">
    <div class="flex flex-wrap justify-between p-4 w-full">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="./images/logo.png" class="h-8" alt="GUDLogo" />  
      </a>
    </div>
  </nav>
  