<footer class="fixed bottom-0 w-full">
    <div id="links-container" class="flex justify-between items-end">
        <a href=""><img src="./images/games.png" height="40px"></a>
        <a href=""><img src="./images/diet.png" height="40px"></a>
        <a href=""><img src="./images/home.png" height="40px"></a>
        <a href=""><img src="./images/fitness.png" height="40px"></a>
        <a href=""><img src="./images/friends.png" height="40px"></a>
    </div>
</footer>