<div class="card-container flex flex-col gap-1 overflow-y-scroll">
    <% for(let i = 0; i < tasks.length; i++) {%>
        <%- include("task_card.ejs", { 
            title: tasks[i].title, 
            description: tasks[i].description }) %>
    <% } %>
</div>