<div id="test" class="py-10">
  <h1>Look up a summoner!</h1>
  <form action='/searchSummoner' method='post'>
    <input name='summonerUsername' type='text' placeholder='summonerUsername' value="">
    <input name='summonerID' type='text' placeholder='summonerID' value="">
    <button type="submit" class="rounded border-solid border-2 border-sky-500">Look Up Summoner Button</button>
  </form>
</div>