<div id="summonerEntry" class="py-10">
  <h1 class="font-bold">Look up a summoner!</h1>
  <form action='/searchSummoner' method='post' class="flex-col">
    <div class="searchInputs flex w-4/5 justify-between">
      <input class="max-w-min" name='summonerUsername' type='text' placeholder='Riot Username' value="">
      <input class="max-w-min" name='summonerID' type='text' placeholder='Riot ID' value="">
    </div>
    <button type="submit" class="rounded border-solid border-2 border-sky-500">
      <div class="">
        Search for Summoner
      </div>
    </button>
  </form>
  <% if (noSummoner) { %>
  <%- include('helpfulMessage.ejs', {helpfulMessage: noSummoner}) %>
  <% } %>  
</div>