    <div id="friendRequestDisplay">
        <% if (requests.length===0) { %>
            <div>No friend requests :c</div>
            <% } else { %>
                <% requests.forEach(request=> { %>
                    <div class="friend-card flex flex-row">
                        <div class="friend-name-tags">
                            <%= request %>
                        </div>
                        <div class="flex flex-col px-2">
                            <form action="/acceptFriend/<%= request %>" method="post">
                                <button type="submit">yes</button>
                            </form>
                            <form action="/rejectFriend/<%= request %>" method="post">
                                <button type="submit">No</button>
                            </form>
                        </div>
                    </div>
                    <% }); %>
                        <% } %>
    </div>
